<template>
  <i-nav>
    <i-nav-item><router-link to="/">Home</router-link></i-nav-item>
    <i-nav-item><router-link to="/about">About</router-link></i-nav-item>
  </i-nav>
</template>

<script>
export default {};
</script>

<style scoped>
</style>