<template>
  <div>
    <h1>Ronin Nuxt3RC</h1>
    <i-input clearable v-model="name" placeholder="hdhh" />
  </div>
</template>

<script>
export default {
  data: () => ({
    name: "",
  }),
};
</script>